
<div id="navstyle"  class="ui vertical labeled stackable icon menu">

   <a id="menuhome" class="item" href="/"> 
     <i class="inverted home icon"></i>
     Webmark </a>
      <a  id="login" class="item" href="/login"> 
      <i class="inverted lock icon"></i>
      Login </a>
      <a  id="signup" class="item" href="/signup"> 
      <i class="inverted user plus icon"></i>
      Register </a>
  
 </div>

<script>
  $("#{{id}}").addClass("item active");
</script>